<header class="header">
  <div class="overlay">
    <h1 class="title">Municipalidad de</h1>
    <h1>Chiguayante</h1>
    <div class="d-flex justify-content-center align-items-center flex-wrap">
      <a href="https://www.chileatiende.gob.cl/fichas/76487-sistema-de-certificacion-ambiental-municipal-scam"
        class="m-3 icon-container">
        <img class="fa-icon" src="/icons/ico.svg" alt="Icono 1">
        <span class="icon-label">Certificación<br>Ambiental</span>
      </a>
      <a href="https://www.leylobby.gob.cl/instituciones/mu04m-30" class="m-3 icon-container">
        <img class="fa-icon" src="/icons/ico4.svg" alt="Icono 1">
        <span class="icon-label">Plataforma<br>del Loby </span>
      </a>
      <a href="https://www.portaltransparencia.cl/PortalPdT/ingreso-sai-v2?idOrg=493" class="m-3 icon-container">
        <img class="fa-icon" src="/icons/ico3.svg" alt="Icono 1">
        <span class="icon-label">Solicitar<br>Información<br></span>
      </a>
      <a href="https://www.portaltransparencia.cl/PortalPdT/directorio-de-organismos-regulados/?org=MU040"
        class="m-3 icon-container">
        <img class="fa-icon" src="/icons/ico2.svg" alt="Icono 1">
        <span class="icon-label">Transparencia<br>Activa</span>
      </a>
      <a href="https://www.chiguayante.cl/index.php/sala-de-prensa" class="m-3 icon-container">
        <img class="fa-icon" src="/icons/ico5.svg" alt="Icono 1">
        <span class="icon-label">Sala<br>de Prensa</span>
      </a>
      <a href="https://www.chiguayante.cl/index.php/concejo-municipal" class="m-3 icon-container">
        <img class="fa-icon" src="/icons/ico6.svg" alt="Icono 1">
        <span class="icon-label">Direcciones<br>Municipales</span>
      </a>
      <a href="https://www.chiguayante.cl/index.php/concurso-publico" class="m-3 icon-container">
        <img class="fa-icon" src="/icons/ico7.svg" alt="Icono 1">
        <span class="icon-label">Concurso<br>Público</span>
      </a>
      <a href="https://www.chiguayante.cl/index.php/ley-n-21-146-proceso-eleccionario" class="m-3 icon-container">
        <img class="fa-icon" src="/icons/ico8.svg" alt="Icono 1">
        <span class="icon-label">Ley N° 21.146</span>
      </a>
    </div>
    <div class="d-flex justify-content-center flex-wrap">
    </div>
    <div class="shape">
      <svg viewBox="0 0 1500 200">
        <path
          d="m 0,240 h 1500.4828 v -71.92164 c 0,0 -286.2763,-81.79324 -743.19024,-81.79324 C 300.37862,86.28512 0,168.07836 0,168.07836 Z" />
      </svg>
    </div>
    <div class="mouse-icon">
      <div class="wheel"></div>
    </div>
  </div>
</header>
