<section id="contact" class="section has-img-bg pb-0">
  <div class="d-flex justify-content-center align-items-center flex-wrap">
    <a href="https://www.chiguayante.cl/index.php/directorio-telefonico" class="m-3">
      <img class="fa-icon" src="/icons/ico9.svg" alt="Icono 1">
    </a>
    <a href="https://www.chiguayante.cl/index.php/preguntas-frecuentes" class="m-3">
      <img class="fa-icon" src="/icons/ico10.svg" alt="Icono 2">
    </a>
    <a href="https://www.office.com/" class="m-3">
      <img class="fa-icon" src="/icons/ico11.svg" alt="Icono 3">
    </a>
    <a href="https://intranetchiguayante.smc.cl/login.aspx?ReturnUrl=%2f" class="m-3">
      <img class="fa-icon" src="/icons/ico12.svg" alt="Icono 4">
    </a>
    <a href="http://www.integralgest.cl/alltrazoffice/?domain=chiguayante" class="m-3">
      <img class="fa-icon" src="/icons/ico13.svg" alt="Icono 5">
    </a>
  </div>

  <footer class="footer y-4 border-top border-secondary text-center">
    <p class="mb-0 small">
      Municipalidad de Chiguayante - Dirección: Orozimbo Barbosa, 104, Chiguayante - Fono: 250 81 00
    </p>
  </footer>
</section>
