<section class="section">
  <div class="navbar-custom d-flex justify-content-center flex-wrap">

    <div class="dropdown m-2">
      <a class="btn btn-custom-orange dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Programas
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink2">
        <a class="dropdown-item" href="#">Programa Puente</a>
        <a class="dropdown-item" href="#">Senda Previene</a>
        <a class="dropdown-item" href="#">Programa Mujeres Jefas de Hogar</a>
        <a class="dropdown-item" href="#">Chile Crece Contigo</a>
        <a class="dropdown-item" href="#">OPD</a>
      </div>
    </div>

    <div class="dropdown m-2">
      <a class="btn btn-custom-orange dropdown-toggle" href="#" role="button" id="dropdownMenuLink4"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mapas
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink4">
        <a class="dropdown-item" href="#">Puntos Verdes</a>
        <a class="dropdown-item" href="#">Puntos de Interes</a>
      </div>
    </div>

    <div class="dropdown m-2">
      <a class="btn btn-custom-orange dropdown-toggle" href="#" role="button" id="dropdownMenuLink6"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Información Comunal
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink6">
        <a class="dropdown-item" href="#">Historia de Chiguayante</a>
        <a class="dropdown-item" href="#">Heráldica de Chiguayante</a>
        <a class="dropdown-item" href="#">Características de Chiguayante</a>
        <a class="dropdown-item" href="#">Clima</a>
        <a class="dropdown-item" href="#">Visión</a>
        <a class="dropdown-item" href="#">Misión</a>
      </div>
    </div>

    <div class="dropdown m-2">
      <a class="btn btn-custom-orange dropdown-toggle" href="#" role="button" id="dropdownMenuLink7"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Autoridades
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink7">
        <a class="dropdown-item" href="#">Alcaldes</a>
        <a class="dropdown-item" href="#">Consejales</a>
      </div>
    </div>

    <div class="dropdown m-2">
      <a class="btn btn-custom-orange dropdown-toggle" href="#" role="button" id="dropdownMenuLink9"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Direcciones Municipales
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink9">
        <a class="dropdown-item" href="#">Dirección de Control</a>
        <a class="dropdown-item" href="#">Administración Municipal</a>
        <a class="dropdown-item" href="#">Dirección de Medio Ambiente</a>
        <a class="dropdown-item" href="#">Secretaría Municipal</a>
        <a class="dropdown-item" href="#">Dirección Jurídica</a>
        <a class="dropdown-item" href="#">Dirección de Administración y Finanzas</a>
        <a class="dropdown-item" href="#">Dirección de Obras Municipales</a>
        <a class="dropdown-item" href="#">Dirección de Tránsito y Transporte Público</a>
        <a class="dropdown-item" href="#">Juzgado de Policía Local</a>
        <a class="dropdown-item" href="#">Dirección de Desarrollo Comunitario</a>
        <a class="dropdown-item" href="#">Dirección de Aseo y Ornato</a>
        <a class="dropdown-item" href="#">Dirección de Administración de Salud</a>
        <a class="dropdown-item" href="#">Cementerio Municipal</a>
        <a class="dropdown-item" href="#">Secretaría de Planificación, Secplán</a>
        <a class="dropdown-item" href="#">Dirección Seguridad Ciudadana y Protección Civil</a>
        <a class="dropdown-item" href="#">Dirección de Recursos Humanos</a>
      </div>
    </div>

    <div class="dropdown m-2">
      <a class="btn btn-custom-orange dropdown-toggle" href="#" role="button" id="dropdownMenuLink10"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Oficinas
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink10">
        <a class="dropdown-item" href="#">Casa de la Cultura</a>
        <a class="dropdown-item" href="#">Organizaciones Comunitarias</a>
        <a class="dropdown-item" href="#">Biblioteca Municipal</a>
        <a class="dropdown-item" href="#">Oficina de la Discapacidad</a>
        <a class="dropdown-item" href="#">Oficina de la Vivienda</a>
        <a class="dropdown-item" href="#">Oficina de Intermediación Laboral</a>
        <a class="dropdown-item" href="#">Oficina del Adulto Mayor</a>
        <a class="dropdown-item" href="#">Oficina de la Mujer</a>
        <a class="dropdown-item" href="#">Oficina de Deportes</a>
        <a class="dropdown-item" href="#">Oficina de Asesoría Urbanabana</a>
        <a class="dropdown-item" href="#">Oficina de Jóvenes</a>
        <a class="dropdown-item" href="#">Oficina de Asuntos Religiosos</a>
      </div>
    </div>

  </div>
</section>

