<section id="portfolio" class="section portfolio-section">
  <div class="container">
    <div class="filters">
      <a href="#" data-filter=".actual" class="active">Recientes</a>
      <a href="#" data-filter=".novedad">Tendencias</a>
      <a href="#" data-filter=".anuncios">Eventos</a>
      <a href="#" data-filter=".destacado">Populares</a>
    </div>
    <div class="portfolio-container">
      <div class="col-md-6 col-lg-4 destacado actual">
        <div class="portfolio-item">
          <img src="/news/noticia1.jpg" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Destacado</h6>
              <p class="subtitle">Desde Plaza Tribunales invitamos al Gran Concepción a disfrutar estas Fiestas Patrias
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 destacado actual">
        <div class="portfolio-item">
          <img src="/news/noticia2.jpeg" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Destacado</h6>
              <p class="subtitle">Katherinne Wollermann es recibida en La Moneda tras histórico oro olímpico de París
                2024</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 novedad actual">
        <div class="portfolio-item">
          <img src="/news/noticia3.jpg" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Novedad</h6>
              <p class="subtitle">Chiguayante rinde homenaje a víctimas y familiares en el Día del Detenido Desaparecido
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 destacado">
        <div class="portfolio-item">
          <img src="/news/noticia4.png" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Destacado</h6>
              <p class="subtitle">Partimos las celebraciones con gran esquinazo, y palomitas y mote con huesillo para
                todos</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 novedad">
        <div class="portfolio-item">
          <img src="/news/noticia5.jpg" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Novedad</h6>
              <p class="subtitle">Alcalde Rivas se reúne con jefe de Zona de Carabineros Biobío para abordar temas de
                seguridad</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 destacado actual">
        <div class="portfolio-item">
          <img src="/news/noticia6.jpg" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Destacado</h6>
              <p class="subtitle">Subsecretaria de Agricultura compromete gestiones para pórticos y conservación del
                Parque Nacional Nonguén tras reunión con presidente de Asociación de Municipios</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 novedad actual">
        <div class="portfolio-item">
          <img src="/news/noticia7.jpg" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Novedad</h6>
              <p class="subtitle">Carabineros de Chiguayante intensificará patrullajes en centros de salud tras hechos
                de violencia en SAR</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 novedad actual">
        <div class="portfolio-item">
          <img src="/news/noticia8.jpg" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Novedad</h6>
              <p class="subtitle">Mesa conformada por vecinos, municipio, SISS y Essbio acuerda mejoras sanitarias para
                45 puntos críticos de Chiguayante</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 anuncios actual">
        <div class="portfolio-item">
          <img src="/news/noticia9.jpeg" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Anuncios</h6>
              <p class="subtitle">Alcalde Antonio Rivas Villalobos recibe a la Consejera Regional Ana Araneda para
                discutir proyectos de desarrollo en Chiguayante</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 anuncios">
        <div class="portfolio-item">
          <img src="/news/noticia10.jpg" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Anuncios</h6>
              <p class="subtitle">Primer Encuentro sobre Libertad de Conciencia en Chiguayante reúne a autoridades
                eclesiásticas del Gran Concepción</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 anuncios actual">
        <div class="portfolio-item">
          <img src="/news/noticia11.jpeg" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Anuncios</h6>
              <p class="subtitle">Familias reciben importantes ayudas técnicas gestionadas por la Oficina de la
                Discapacidad</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 anuncios">
        <div class="portfolio-item">
          <img src="/news/noticia12.jpg" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Anuncios</h6>
              <p class="subtitle">Adherimos a Proyecto Grifo para combatir la contaminación por plásticos</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 anuncios">
        <div class="portfolio-item">
          <img src="/news/noticia13.jpeg" class="img-fluid">
          <div class="content-holder">
            <div class="text-holder">
              <h6 class="title">Anuncios</h6>
              <p>Junto a la USS certificamos a 300 dirigentes sociales en el marco de la Escuela de Liderazgo</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

