<nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/icons/chiguayante.png" alt="Logo">
    </a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <!-- Redes sociales -->
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/municipalidadchiguayante/">
            <img class="social-icon" src="/icons/social.png" alt="Social">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://web.facebook.com/municipalidadchiguayante/?_rdc=1&_rdr">
            <img class="social-icon" src="/icons/social1.png" alt="Social 1">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://web.whatsapp.com/">
            <img class="social-icon" src="/icons/social2.png" alt="Social 2">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/@municipalidaddechiguayante2648/featured">
            <img class="social-icon" src="/icons/social3.png" alt="Social 2">
          </a>
        </li>
        <li class="nav-item text-center">
        <div id="scroll-text" style="display: none;">
          <h3>Municipalidad<br />
            de <span>Chiguayante</span></h3>
        </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
