<section>
  <div class="d-flex justify-content-center align-items-center flex-wrap">
    <a href="http://sgd.smc.cl/mesa/Mesa_Login.aspx" class="m-3">
      <img src="/icons/icon1.png" alt="Icono 1">
    </a>
    <!--<a (click)="goToLicenciaConducir()" class="m-3">
      <img src="/icons/icon2.png" alt="Icono 2">
    </a>-->
    <a (click)="redirigirFormulario()" class="m-3">
      <img src="/icons/icon2.png" alt="Icono 2">
    </a>
    <a href="http://appl.smc.cl/MvcAnalisisRut/Login/Login" class="m-3">
      <img src="/icons/icon3.png" alt="Icono 3">
    </a>
    <a href="https://www.chiguayante.cl/index.php/oficinas-municipales/oficina-de-asesoria-urbana" class="m-3">
      <img src="/icons/icon4.png" alt="Icono 4">
    </a>
    <a href="https://www.chiguayante.cl/~chiguayante/index.php/afiches/90-telefonos-de-emergencia" class="m-3">
      <img src="/icons/icon5.png" alt="Icono 5">
    </a>
    <a href="https://www.portaltransparencia.cl/PortalPdT/directorio-de-organismos-regulados/?org=MU040&pagina=48134169"
      class="m-3">
      <img src="/icons/icon6.png" alt="Icono 6">
    </a>
    <a href="http://appl.smc.cl/MvcAnalisisRut/Login/Login" class="m-3">
      <img src="/icons/icon7.png" alt="Icono 7">
    </a>
  </div>
</section>

